/*

CSS GENERAL STYLE

TABLE OF CONTENTS

1. GENERAL STYLE
2. GALLERY STYLE
2. HEADER AND FOOTER 
3. TOP NAVIGATION
4. FILTERS - LEFT PANEL
5. RIGHT PANEL - PRODUCTS

*/


/*--------------- 1. GENERAL STYLE -----------*/

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://use.fontawesome.com/releases/v5.4.1/css/all.css);

/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Trebuchet Ms', sans-serif;
  font-size: 76.5%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

main {
  margin: 0 auto;
  padding: 0 0;
  width: 95%;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

#msform {
  width: 100%;
  margin: 20px auto;
  position: relative;
}


/*--------------- END OF 1. GENERAL STYLE -----------*/


/*--------------- 2. HEADER AND FOOTER -----------*/


/*.dfk-header {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  transform: translate(0%, 0%);
  margin-bottom: -29px;
}
*/

#headerS,
#headerXL,
#headerTablet,
#headerLaptop,
#headerL {
  display: none;
}


/*.dfk-footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  transform: translate(0%, 0%);
  margin-top: -25px;
}
*/

#footerS,
#footerTablet,
#footerLaptop,
#footerL,
#footerXL {
  display: none;
}


/*--------------- END OF 2. HEADER AND FOOTER -----------*/


/*------------ 3. TOP NAVIGATION ------------*/

.top-navigation {
  margin-bottom: 3%;
}

#nav-text {
  font-size: 13px;
  font-weight: 520;
}


/*------------ END OF 3. TOP NAVIGATION ------------*/


/*------------ 4. FILTERS - LEFT PANEL --------------*/

.filters {
  width: 19%;
  float: left;
}

.filters-logo-collapse {
  display: none;
}

#filters-title {
  font-size: 21px;
  font-weight: 550;
  border-bottom: 0.9px solid #ccc;
  padding-bottom: 20px;
}

.filters-collapse {
  width: 100%;
}

.panel {
  background-color: #fff;
  border-bottom: 0.9px solid #ccc;
}

.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-radius: 0px;
}

.panel-group .panel-heading a {
  display: block;
  background: transparent;
  color: black;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding-top: 17px;
  font-family: "Trebuchet Ms", sans-serif;
  font-size: 15px;
  padding-bottom: 16px;
  padding-right: 0;
  text-decoration: none;
  position: relative;
  transition: 0.4s;
}

.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 10px;
  top: 16px;
  font-family: "Trebuchet Ms", sans-serif;
  font-size: 16px;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
}

.panel-group .panel-collapse {
  margin-top: 0;
}

.panel-group .panel-body {
  background: #ffffff;
  padding-left: 0px;
}

.panel-group .panel {
  background-color: transparent;
}

.panel-group .panel-body p:last-child,
.panel-group .panel-body ul:last-child,
.panel-group .panel-body ol:last-child {
  margin-bottom: 0;
}


/*--------------- BRAND CONTENT --------------*/

.checkbox {
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 5%;
  display: inline-grid;
  padding: 1px;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
  font-family: 'Arial', sans-serif;
  padding-left: 23px;
  color: #000;
  padding-top: 6px;
  font-size: 14px;
  margin-top: -18%;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  color: black;
  /*Needed for the line-height to take effect*/
  display: inline-block;
}


/*Outer box of the fake checkbox*/

.checkbox label::before {
  height: 14px;
  width: 14px;
  color: #ccc;
  border: 1px solid;
  left: 0px;
  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
  top: 5px;
}


/*Checkmark of the fake checkbox*/

.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  color: black;
  transform: rotate(-45deg);
  left: 3px;
  top: 7px;
}


/*Hide the checkmark by default*/

.checkbox input[type="checkbox"]+label::after {
  content: none;
}


/*Unhide on the checked state*/

.checkbox input[type="checkbox"]:checked+label::after {
  content: "";
}


/*Adding focus styles on the outer-box of the fake checkbox*/

.checkbox input[type="checkbox"]:focus+label::before {
  outline: rgb(59, 153, 252) auto 5px;
}


/*-------------- SIZE -----------------*/

.youths,
.mens {
  margin-bottom: 5%;
}

#youth-size,
#men-size {
  color: #888;
  font-size: 13px;
}

#size-button {
  width: 30.5%;
  background-color: transparent;
  border: 1px solid #888;
  padding: 9px;
  margin-top: 3%;
  color: #888;
  margin-right: 1%;
}

#size-button:hover {
  background-color: black;
  color: white;
  transition: .1s ease-out;
  border: 1px solid black;
}


/*------------- PRICe ------------------*/

.filter-price,
.filter-price2 {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-title {
  position: relative;
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-field,
.price-field2 {
  position: relative;
  width: 101.5%;
  height: 32px;
  box-sizing: border-box;
  background: rgba(248, 247, 244, 0.2);
  padding-top: 13px;
  padding-left: 0;
  border-radius: 3px;
}

.price-field input[type=range],
.price-field2 input[type=range] {
  position: absolute;
}


/* Reset style for input range */

.price-field input[type=range],
.price-field2 input[type=range] {
  width: 98%;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb,
.price-field2 input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus,
.price-field2 input[type=range]:active,
.price-field2 input[type=range]:focus {
  outline: 0;
}

.price-field input[type=range]::-ms-track,
.price-field2 input[type=range]::-ms-track {
  width: 98%;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: 5px;
}


/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb,
.price-field2 input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  margin-top: -9px;
  background-color: white;
  border: 1px solid #888;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb,
.price-field2 input[type=range]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #888;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-ms-thumb,
.price-field2 input[type=range]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #888;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}


/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track,
.price-field2 input[type=range]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 98%;
  height: 2px;
  cursor: pointer;
  background: #00a100;
  border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track,
.price-field2 input[type=range]::-moz-range-track {
  /* Firefox */
  width: 98%;
  height: 2px;
  cursor: pointer;
  background: #00a100;
  border-radius: 5px;
}

.price-field input[type=range]::-ms-track,
.price-field2 input[type=range]::-ms-track {
  /* IE */
  width: 98%;
  height: 2px;
  cursor: pointer;
  background: #00a100;
  border-radius: 5px;
}


/* Style for input value block */

.price-wrap,
.price-wrap2 {
  display: flex;
  justify-content: left;
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 500;
  margin-bottom: 5%;
  margin-top: 1%;
}

.price-wrap-1,
.price-wrap-1-2 {
  float: left;
  display: flex;
  margin-left: 1%;
}

.price-wrap-2,
.price-wrap-2-2 {
  display: flex;
  float: right;
  margin-left: 71%;
}

.price-title {
  margin-right: 5px;
}

.price-wrap #one,
.price-wrap #two,
.price-wrap2 #one2,
.price-wrap2 #two2 {
  width: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  color: #000;
  font-size: 14px;
  margin-top: -5px;
  font-weight: 400;
}

.price-wrap label,
.price-wrap2 label {
  text-align: left;
}


/* Style for active state input */

.price-field input[type=range]:hover::-webkit-slider-thumb,
.price-field2 input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #000;
  transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb,
.price-field2 input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #000;
  transition-duration: 0.3s;
}


/*----------- COLOURS -------------*/

.colours-menu {
  margin-bottom: 4%;
  width: 95%;
}

.color-row1 {
  width: 111%;
}

.color-circle {
  margin-top: 1%;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-bottom: 4%;
  border-radius: 50px 50px 50px 50px;
}

.color-circle:hover {
  opacity: 0.5;
  transition: .5 ease;
}

.size-circle {
  background-color: #EBEBEB;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  line-height: 30px;
}


/*------------ END OF 4. FILTERS - LEFT PANEL --------------*/


/*--------- 5. RIGHT PANEL - PRODUCTS -------------*/

.products {
  width: 77%;
  float: right;
}

.products-left-side {
  width: 50%;
  float: left;
}

.products-right-side {
  width: 39%;
  float: right;
}

.product-box {
  margin-top: 7%;
  margin-bottom: 10%;
  width: 100%;
}

#products-title {
  font-size: 21px;
  display: inline-block;
  font-weight: 550;
  float: left;
}

#products-number {
  display: inline-block;
  margin-top: 6px;
  font-size: 13px;
  margin-left: 1%;
}

.cancel-buttons {
  margin-top: -2.5%;
  margin-bottom: 1%;
  width: 70%;
}

#adidas-cancel,
#mitre-cancel,
#stanno-cancel,
#prostar-cancel,
#matchwear-cancel,
#tracksuits-cancel,
#jerseys-cancel,
#sleeve-cancel,
#lleeve-cancel {
  display: none;
  background-color: transparent;
  padding-right: 10px;
}

#nike-cancel,
#sleeve-cancel,
#lleeve-cancel {
  display: inline-block;
  background-color: transparent;
  padding-right: 10px;
}

#clearbutton {
  display: inline-block;
  background-color: transparent;
  padding-right: 10px;
  text-decoration: underline;
}

.hidden {
  display: none;
}

#nike-cancel:hover,
#adidas-cancel:hover,
#mitre-cancel:hover,
#stanno-cancel:hover,
#prostar-cancel:hover,
#matchwear-cancel:hover,
#tracksuits-cancel:hover,
#jerseys-cancel:hover,
#sleeve-cancel:hover,
#lleeve-cancel:hover,
#clearbutton:hover {
  color: #00a100;
  text-decoration: underline;
}

.styled-select {
  margin-left: 54%;
  margin-top: 0.5%;
}

.custom-select {
  width: 158px;
  height: 38px;
  border: 0.9px solid black;
  font-family: 'Trebuchet Ms', sans-serif;
  font-size: 14px;
  font-weight: 550;
  padding-left: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png) 96% / 15% no-repeat;
}


/*--------------- PRODUCT images --------------*/

.column {
  width: 20%;
  float: left;
  padding: 15px;
  background-color: white;
  /* Should be removed. Only for demonstration */
  margin-left: 4%;
}

.column #gallery-image {
  width: 210px;
  height: 210px;
  object-fit: cover;
}


/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-item {
  width: 210px;
  height: 210px;
  float: left;
  padding: 0px;
  margin-bottom: 6%;
}


/*------------ PRODUCT DESCRIPTION ------------*/

.image-description {
  width: 100%;
}

.colors-and-logo {
  width: 100%;
}

.product-logo {
  width: 50%;
  float: right;
  /*margin-right: -34%;*/
}

#logo-size {
  width: 30px;
  height: 10.75px;
}

#numberOfColors {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  float: left;
  width: 30%;
  margin-bottom: 4%;
}

.productTitle {
  width: 100%;
  border-top: 0.9px solid #ccc;
  padding-top: 4%;
  float: left;
}

#product-title {
  font-size: 13px;
  margin-bottom: 5%;
}

#product-price {
  display: inline-block;
  width: 100%;
  font-family: "Arial", sans-serif;
  margin-bottom: 0.5%;
}

#new-price {
  font-size: 14px;
  color: red;
  display: inline-block;
}

#old-price {
  font-size: 14px;
  color: black;
  display: inline-block;
  margin-left: 2.5%;
  text-decoration: line-through;
}

#saving-price {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: red;
  margin-bottom: 3%;
}

.products-content {
  width: 125%;
}

.products-content:hover {
  position: absolute;
  background-color: white;
  border: 1px solid #d4d4d4;
  width: 237px;
  padding-left: 12.4px;
  padding-right: 0px;
  padding-bottom: 7px;
  padding-top: 12.4px;
  margin-top: -1.1%;
  margin-left: -1.1%;
}

#discount-tag {
  position: absolute;
  font-size: 15px;
  margin-top: -16%;
  background-color: yellow;
  padding: 4px 7px 4px 7px;
}

.products-content:hover #discount-tag {
  margin-top: -81.8%;
}

.products-content:hover .colors-and-logo {
  display: none;
}

.products-content:hover .image-carousel {
  display: block;
}

.products-content:hover .productTitle {
  width: 93%;
}

.item-container {
  width: 96%;
  display: none;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4%;
  margin-left: -0.5%;
  margin-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #ccc;
}

#img-responsive {
  width: 60px;
  height: 50px;
}

.image-carousel {
  display: none;
  width: 34%;
  margin-left: 14%;
  margin-bottom: 5%;
}

.col-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px
}

.carousel-control-prev {
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 7px;
  margin-bottom: 1%;
  margin-left: -8%;
  color: black;
  font-size: 17px;
  text-decoration: none;
}

.carousel-control-next {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7px;
  top: auto;
  margin-bottom: 1%;
  margin-right: -8%;
  color: black;
  font-size: 17px;
  text-decoration: none;
}


/*--------------- SIDE NAV FILTERS ----------------*/

.brand,
.type,
.style,
.size,
.price,
.colours {
  float: left;
  width: 89%;
  text-align: left;
  position: relative;
  left: 0;
  margin-left: 6%;
  margin-bottom: 4%;
  padding-top: 3%;
  padding-bottom: 1%;
  border-bottom: 0.9px solid #ccc;
}

.sidenav .buttons {
  float: left;
  width: 89%;
  text-align: left;
  position: relative;
  left: 0;
  margin-left: 6%;
  margin-bottom: 4%;
  padding-bottom: 1%;
}

.buttons{
  padding-top: 4%;
  border-bottom: 0.9px solid #ccc;
  padding-bottom: 4%;
}

.sidenav #clearfilters {
  width: 50%;
  padding: 7px 5px 7px 5px;
  font-size: 15px;
  font-weight: 550;
  float: left;
  left: 0;
  background: white;
  border-right: 0.9px solid #ccc;
  text-align: center;
}

#clearfilters {
  width: 50%;
  padding: 7px 5px 7px 5px;
  font-size: 15px;
  font-weight: 550;
  float: left;
  left: 0;
  background: white;
  border-right: 0.9px solid #ccc;
  text-align: center;
}

#clearfilters:hover,
#applyfilters:hover{
  color: #adadad;
  transition: .3s;
}

.sidenav #applyfilters {
  width: 50%;
  padding: 7px 5px 7px 5px;
  font-size: 15px;
  font-weight: 550;
  background: white;
  text-align: center;
}

#applyfilters {
  width: 50%;
  padding: 7px 5px 7px 5px;
  font-size: 15px;
  font-weight: 550;
  background: white;
  text-align: center;
}

#brand-text,
#type-text,
#style-text,
#size-text,
#price-text,
#colours-text {
  padding-bottom: 15px;
  font-size: 16px;
}

.sidenav .checkbox label {
  font-size: 15px;
  padding-top: 3px;
}

.sidenav .colours-menu {
  margin-top: 4%;
}

.sidenav {
  min-height: 100%;
  max-height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  left: 0;
  float: left;
  top: 0;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.5s;
  padding-top: 40px;
}

.overlay {
  min-height: 100%;
  max-height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  float: right;
  top: 0;
  background-color: #00000073;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -7px;
  right: 7px;
  font-size: 36px;
  margin-left: 45px;
}

.sidenav .price-wrap #one {
  margin-right: 26px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


/*--------- 5. RIGHT PANEL - PRODUCTS -------------*/